.carousel
  padding: 4rem 10%
  display: flex
  flex-flow: row nowrap
  overflow-x: scroll
  -webkit-overflow-scrolling: touch

  .item
    width: 500px
    height: 280px
    flex: 0 0 auto
    margin-right: 20px
    cursor: pointer
    transition: all 0.25s ease-in-out

    &:hover
      transform: scale(1.02)

    &:last-child
      margin-right: 0