.apps-downloads
  max-width: 600px
  margin: 2rem auto 4rem
  text-align: center
  padding: 0 2rem
  line-height: 1

.app-buttons
  display: grid
  grid-template-columns: repeat(2, 1fr)
  gap: 20px

  a
    display: block

footer
  padding: 3rem 10%
  border-top: 2px solid $font-color
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  
  p 
    font-size: 1rem

  @media screen and (max-width: 620px)
    justify-content: center

  .copyright
    padding: 1rem 0

    @media screen and (max-width: 620px)
      text-align: center

  .social-media
    min-width: 320px
    padding: 1rem 0
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr))
    gap: 20px
