body
  font-family: $body-font-family
  font-size: 15px
  background-color: $background-color
  color: $font-color
  position: relative

  @media (max-width: 620px)
    font-size: 14px

h1, h2, h3, h4
  font-family: $header-font-family
  max-width: 60ch
  margin: 2rem 0
  line-height: 1

h1
  font-size: 2.5rem

h2
  font-size: 1.8rem

h3
  font-size: 1.6rem

h4
  font-size: 1.4rem

p
  max-width: 60ch
  margin: 1.5rem 0
a
  color: $secondary-color

em
  color: $terciary-color

.main-container
  padding: 4rem 10%

  p
    font-size: 1.4rem

.about-us
  padding-bottom: 0

.main-grid
  display: grid
  grid-template-columns: repeat(2, 1fr)
  gap: 40px

  .player
    place-self: center

  img
    width: 100%

  @media (max-width: 880px)
    & > *
      grid-column: 1 / 3

    .order-1
      order: 1

    .order-2
      order: 2

    .order-3
      order: 3

    .order-4
      order: 4

.secondary-grid
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
  column-gap: 10px
  row-gap: 40px

.services
  .service
    display: flex
    flex-flow: column nowrap
    justify-content: space-between

    h4
      text-align: center
      text-transform: uppercase
    a
      font-size: 1rem
      padding: 0.5rem
      align-self: center
      width: 180px

button
  padding: 0
  border: none
  appearance: none
  cursor: pointer
  background-color: transparent

  &:focus
    outline: 0

  &.small-play-button
    box-shadow: 0 2px 4px transparentize($background-color, 0.25)
    position: relative

    svg
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      opacity: 0.5
      filter: drop-shadow(0 3px 6px transparentize($background-color, 0.15))

.media-button
  @include cool-button($secondary-color, $font-color)

.inner-button
  @include cool-button($secondary-background-color, $font-color)

.header-container
  @extend .main-container
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
  gap: 20px
  
  &:last-child
    margin-right: 0

  a
    display: flex
    align-items: center
    justify-content: center
    text-align: center

.slogan p
  font-size: 1.4rem
  margin: 0
  max-width: 300px

.page-header
  padding: 10rem 10%
  background-size: cover
  background-repeat: no-repeat
  background-position: center center

  @media (max-width: 620px)
    background-position: 40% center

  h1
    text-transform: uppercase
    text-shadow: 0 3px 9px transparentize($background-color, 0.25)
    max-width: 300px
    line-height: 1
    font-size: 3.5rem

    @media (max-width: 414px)
      font-size: 3rem

.centered
  margin: 4rem auto
  text-align: center
  
.page-slogan
  max-width: 900px
  font-family: $body-font-family
  margin-bottom: 0
  
  @media (max-width: 900px)
    padding: 0 10%

.live-video
  padding-top: 10vh

  @media (max-width: 414px)
    padding-top: 20vh

.live-video-player
  position: relative
  padding-bottom: 56.25%
  height: 0

  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
