body
  font-family: $body-font-family
  font-size: 16px
  background-color: $background-color
  color: $font-color
  position: relative
  overflow-x: hidden

  @media screen and (max-width: 620px)
    font-size: 14px

h1, h2, h3, h4
  font-family: $header-font-family
  max-width: 60ch

p
  max-width: 60ch

a
  color: $secondary-color

.main-container
  padding: 4rem 10%

.media-button
  @include cool-button($secondary-color, $font-color)